@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;500;600&family=Poppins:wght@600&display=swap");

body {
  font-family: open sans, sans-serif;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  font-size: 17px;
  overflow-x: hidden;
}
/* common css */
*,
body {
  outline: 0;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
*,
.badges {
  vertical-align: baseline;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
}
::-webkit-scrollbar-thumb:hover {
  background: #fb5496;
}
::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(45deg, #ffbd84, #ff1f8e);
  background-image: -o-linear-gradient(45deg, #ffbd84, #ff1f8e);
  background-image: linear-gradient(45deg, #ffbd84, #ff1f8e);
}
::-moz-selection {
  background: rgba(166, 175, 189, 0.3);
}
::selection {
  background: rgba(166, 175, 189, 0.3);
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-os-font-smoothing: grayscale;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: 0 !important;
}

.text-light {
  color: #e6e6e6;
}
.text-dark-light {
  color: #a2a2a2;
}

.border-b-1 {
  border-bottom: 1.4px solid rgb(160, 160, 160);
}
/* ---comon css--- */

.heading {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: #e6e6e6;
}
.sub_heading {
  font-family: "open sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #a2a2a2;
}
/* ------------Services Section Hover Effect ----------- */

.card_item:hover {
  transform: translateY(-8.5px);
}
.card_item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 4px;
  background: -webkit-linear-gradient(
    -45deg,
    #fc00c7 0,
    #1c4efd 54%,
    #00aded 100%
  );
  background: linear-gradient(135deg, #9100ff 0, #3663ff 54%, #00e2ff 100%);
}
