.nav_link {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  text-transform: uppercase;
}
.call_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #f92c8b 0, #b02cd6 100%);
  box-shadow: 0 10px 15px 0 rgb(175 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.call_btn > svg {
  font-size: 18px;
  color: #fff;
}
.toggle_light {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 50%;
  margin-top: 3px;
  background-color: #000;
}

.toggle_light > button > svg {
  font-size: 1.5rem;
  margin: 10px;
  color: #00bcd4;
}
